---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
@import "scaffolding";

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

#main-wrapper {
    width: 100%;
    //max-width: 980px;
    margin: 0 auto;
    background: $color-main-wrapper;
    position: relative;
}

@import "navigation";

#intro {
    position: relative;
    top: -108px;
    z-index: 3;

    h1 {
        margin-bottom: 30px;
        font-weight: bold;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        font-size: 40px;
        margin-top: 0;
        line-height: initial;
        padding: 3px 0 26px 0;
    }
}

@import "post";
@import "subscribe";
@import "pagination";
@import "footer";
@import "social";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
