<li class="{{ post.categories[1] }}-color">
  <div>
    <span class="post-meta">@{{ post.tip-username }} in <a class="category" href="/{{page.lang}}/{{ post.categories[1] }}">{{ post.categories[1] }}</a></span>

    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    <p>{{ post.tip-tldr  | truncatewords:43 | markdownify}}</p>
  </div>
  <a class="read-more" href="{{ post.url | relative_url }}">{{ site.transl[page.lang].txt_read_more }} <span class="shape">→</span></a>
</li>