<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';

    if (this.page.url.indexOf('/javascript/') > -1) {
      this.page.url = this.page.url.replace('/javascript/', '/');
      this.page.identifier = this.page.identifier.replace('/javascript/', '/');
    }
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>