<div class="email-suscribe">
  <div class="wrapper">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//jstips.us12.list-manage.com/subscribe/post?u=80795a6c077c65f1648c4dfe3&amp;id=1f7d557661" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <a href="#" name="subscribe"></a>
                <label for="mce-EMAIL">{{ site.transl[page.lang].txt_email_suscriber }}</label>
                <label for="mce-EMAIL">{{ site.transl[page.lang].txt_email_suscriber_2 }}</label>
                <div class="email-container">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ site.transl[page.lang].txt_email_placeholder }}" required>
                    <input type="submit" value="{{ site.transl[page.lang].txt_email_button }}" name="subscribe" id="mc-embedded-subscribe" class="button">    
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80795a6c077c65f1648c4dfe3_1f7d557661" tabindex="-1" value=""></div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>