<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.transl[page.lang].txt_footer | escape }}</p>
        <nav>
          <ul>
            <li><a href="/{{page.lang}}/about">{{ site.transl[page.lang].menu_footer.about.txt }}</a></li>
            <li><a href="mailto:hello@jstips.co">{{ site.transl[page.lang].menu_footer.contact.txt }}</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/tips_js" target="_blank"><img src="{{ "/assets/images/icon-twitter.svg" | relative_url }}"> Twitter</a>
          </li>
          <li>
            <a href="https://github.com/loverajoel/jstips" target="_blank"><img src="{{ "/assets/images/icon-github.svg" | relative_url }}">Github</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>

<!-- Swiper JS -->
<script src="{{ "/assets/js/swiper/swiper.min.js" | relative_url }}"></script>


<!-- Initialize Swiper -->
<script>
window.onload = function() {
  
  var swiper = new Swiper('.swiper-container', {
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true
  });

  // if (document.querySelectorAll('.category-header').length) {
    var pagination = 4;
    var current = 0;
    var total = document.querySelectorAll('.post-list li').length;

    var paginate = function() {
      current++;
      document.querySelectorAll('.post-list li').forEach(function(item, index) {
        item.setAttribute("style", "display: none");
        if (index + 1 <= current*pagination) {
          item.setAttribute("style", "display: block");
        }
      });
      if (current*pagination >= total) {
        document.querySelector('.next-infinite').setAttribute("style", "display: none");
      }
    };
    paginate();

    document.querySelector('.next-infinite').addEventListener('click', paginate);
  // }
};
</script>
