<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.transl[page.lang].txt_footer | escape }}</p>
        <nav>
          <ul>
            <li><a href="/{{page.lang}}/about">{{ site.transl[page.lang].menu_footer.about.txt }}</a></li>
            <li><a href="mailto:hello@jstips.co">{{ site.transl[page.lang].menu_footer.contact.txt }}</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/tips_js" target="_blank"><img src="{{ "/assets/images/icon-twitter.svg" | relative_url }}"> Twitter</a>
          </li>
          <li>
            <a href="https://github.com/loverajoel/jstips" target="_blank"><img src="{{ "/assets/images/icon-github.svg" | relative_url }}">Github</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>

<!-- Swiper JS -->
<script src="{{ "/assets/js/swiper/swiper.min.js" | relative_url }}"></script>


<!-- Initialize Swiper -->
<script>
var isPost = document.querySelector('.post-header');

if (!isPost) {
  window.onload = function() {
    
    var swiper = new Swiper('.swiper-container', {
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true
    });

    var pagination = 4;
    var current = 0;
    var total = document.querySelectorAll('.post-list li').length;

    var paginate = function() {
      current++;
      document.querySelectorAll('.post-list li').forEach(function(item, index) {
        item.setAttribute("style", "display: none");
        if (index + 1 <= current*pagination) {
          item.setAttribute("style", "display: block");
        }
      });
      if (current*pagination >= total) {
        document.querySelector('.next-infinite').setAttribute("style", "display: none");
      }
    };
    paginate();

    document.querySelector('.next-infinite').addEventListener('click', paginate);
  };
}

if (isPost) {
  var share_abs = true;
  window.onscroll = function() {
    if (document.querySelector('.related-tips').getBoundingClientRect().top < 645) {
      if (!share_abs) {
        document.querySelector('.js-share').style.position = "absolute";
        document.querySelector('.js-share').style.bottom = "127px";
        document.querySelector('.js-share').style.top = "initial";
        share_abs = true;
      }
    } else {
      if (share_abs) {
        document.querySelector('.js-share').style.position = "fixed";
        document.querySelector('.js-share').style.bottom = "inital";
        document.querySelector('.js-share').style.top = "275px";
        share_abs = false;
      }
    }
  }

  // share
  var social_share = {
    share_tw: function(title, url) {return 'http://twitter.com/share?text='+title+'&url='+url},
    share_fb: function(title, url) {return 'http://www.facebook.com/sharer.php?u='+url+'&t='+title},
    share_in: function(title, url) {return 'http://www.linkedin.com/shareArticle?mini=true&url='+url},
  };

  document.querySelector('.js-share ul').onclick = function(event) {
    open(
      social_share[event.target.classList[0]](document.title, window.location.href),
      'Share',
      'height=380,width=660,resizable=0,toolbar=0,menubar=0,status=0,location=0,scrollbars=0'
    );
  }
}
</script>
