<div class="widget-popular-tips">
  <h3>
    {{ site.transl[page.lang].txt_popular_tips }}
  </h3>
  <div>
    <ul>
      {% assign counter=0 %}
      {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
          {% if post.categories contains 'javascript' %}
            {% if counter < 5 %}
              <li><a href="{{ post.url }}"><div>{{counter | plus:1}}</div><span>{{ post.title }}</span></a></li>
              {% assign counter=counter | plus:1 %}
            {% endif %}  
          {% endif %}  
        {% endfor %}
    </ul>
  </div>
</div>