<div class="related-tips">
  <div class="wrapper">
    <h2>Related tips</h2>
    <ul class="post-list">
      {% assign counter=0 %}
      {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
          {% if post.categories contains page.categories[1] %}
            {% if counter < 2 %}
              {% include box.html %}
              {% assign counter=counter | plus:1 %}
            {% endif %}  
          {% endif %}  
        {% endfor %}
    <li class="javascript-color">
      <div>
        <span class="post-meta">@teeny_li</span>
        <h2>
          <a class="post-link" href="https://www.teeny.li">Create your personal website.</a>
        </h2>
        <p>Create your personal website for free. Premium themes and analytics.</p>
      </div>
      <a class="read-more" href="https://www.teeny.li/">Create now <span class="shape">→</span></a>
    </li>
    </ul>
  </div>
</div>
