<div class="related-tips">
  <div class="wrapper">
    <h2>Related tips</h2>
    <ul class="post-list">
      {% assign counter=0 %}
      {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
          {% if post.categories contains page.categories[1] %}
            {% if counter < 2 %}
              {% include box.html %}
              {% assign counter=counter | plus:1 %}
            {% endif %}  
          {% endif %}  
        {% endfor %}
    <li class="javascript-color">
      <div>
        <h2>
          <a class="post-link" href="https://www.casterbites.com/?ref=jstips">CasterBites: Farcaster Daily Digest</a>
        </h2>
        <p>Dive into Farcaster's Daily Digest for your personalized must-reads. Spend just 3 minutes daily to stay updated with all things important. Never miss out again!</p>
      </div>
      <a class="read-more" href="https://www.casterbites.com/?ref=jstips/">Create now <span class="shape">→</span></a>
    </li>
    </ul>
  </div>
</div>
