<div class="links">
  <h3>
    Partners
  </h3>
    <span><a class="post-link" href="https://www.casterbites.com/?ref=jstips">CasterBites: Farcaster Daily Digest</a></span>
    <span><a class="post-link" href="https://pointshq.xyz/?ref=jstips">Points: Track Your Crypto Points Like a Pro</a></span>
<!--   <span>Looking to transition to Product Manager? Check <a href="https://theproductindex.com/" target="_blank">The Product Index.</a> and read the best pieces of content about Product Management.</span> -->
</div>
<div class="page-sidebar">

</div>
<div class="page-sidebar">
  {% include popular-posts.html %}
</div>
