
.highlight {
    background-color: #F9F9F9;
    padding: 20px 0;
    overflow: scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 1.2;

    @media (max-width: 900px) {
        padding: 0 10px
    }
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    white-space: pre;
    overflow: visible;
    word-wrap: normal;
    background: #F9F9F9;
}

.header-content code {
  background: #E0BE2B;
}

h3 code {
  font-size: 23px;
}

.highlight pre {
  color: #333333;
  background-color: transparent;
}
/* Punctuation */
.highlight .p {
  color: #000000;
  background-color: transparent;
}
/* Error */
.highlight .err {
  color: #333333;
  background-color: transparent;
}
/* Base Style */
.highlight .n {
  background-color: transparent;
}
/* Name Attribute */
.highlight .na {
  background-color: transparent;
}
/* Name Builtin */
.highlight .nb {
  background-color: transparent;
}
/* Name Class */
.highlight .nc {
  background-color: transparent;
}
/* Name Constant */
.highlight .no {
  background-color: transparent;
}
/* Name Decorator */
.highlight .nd {
  background-color: transparent;
}
/* Name Entity */
.highlight .ni {
  background-color: transparent;
}
/* Name Exception */
.highlight .ne {
  background-color: transparent;
}
/* Name Function */
.highlight .nf {
  background-color: transparent;
}
/* Name Label */
.highlight .nl {
  background-color: transparent;
}
/* Name Namespace */
.highlight .nn {
  background-color: transparent;
}
/* Name Other */
.highlight .nx {
  color: #000000;
  background-color: transparent;
}
/* Name Property */
.highlight .py {
  color: #000000;
  background-color: transparent;
}
/* Name Tag */
.highlight .nt {
  background-color: transparent;
}
/* Name Variable */
.highlight .nv {
  background-color: transparent;
}
/* Name Variable Class */
.highlight .vc {
  background-color: transparent;
}
/* Name Variable Global */
.highlight .vg {
  background-color: transparent;
}
/* Name Variable Instance */
.highlight .vi {
  background-color: transparent;
}
/* Name Builtin Pseudo */
.highlight .bp {
  background-color: transparent;
}
/* Base Style */
.highlight .g {
  background-color: transparent;
}
/*  */
.highlight .gd {
  background-color: transparent;
}
/* Base Style */
.highlight .o {
  color: #a71d5d;
  background-color: transparent;
}
/* Operator Word */
.highlight .ow {
  color: #a71d5d;
  background-color: transparent;
}
/* Base Style */
.highlight .c {
  background-color: transparent;
}
/* Comment Multiline */
.highlight .cm {
  color: #969896;
  background-color: transparent;
}
/* Comment Preproc */
.highlight .cp {
  color: #969896;
  background-color: transparent;
}
/* Comment Single */
.highlight .c1 {
  color: #969896;
  background-color: transparent;
}
/* Comment Special */
.highlight .cs {
  color: #969896;
  background-color: transparent;
}
/* Base Style */
.highlight .k {
  color: #a71d5d;
  background-color: transparent;
}
/* Keyword Constant */
.highlight .kc {
  color: #0086b3;
  background-color: transparent;
}
/* Keyword Declaration */
.highlight .kd {
  color: #a71d5d;
  background-color: transparent;
}
/* Keyword Namespace */
.highlight .kn {
  color: #a71d5d;
  background-color: transparent;
}
/* Keyword Pseudo */
.highlight .kp {
  color: #a71d5d;
  background-color: transparent;
}
/* Keyword Reserved */
.highlight .kr {
  color: #a71d5d;
  background-color: transparent;
}
/* Keyword Type */
.highlight .kt {
  color: #a71d5d;
  background-color: transparent;
}
/* Base Style */
.highlight .l {
  color: #000000;
  background-color: transparent;
}
/* Literal Date */
.highlight .ld {
  color: #000000;
  background-color: transparent;
}
/* Literal Number */
.highlight .m {
  color: #000000;
  background-color: transparent;
}
/* Literal Number Float */
.highlight .mf {
  color: #0086b3;
  background-color: transparent;
}
/* Literal Number Hex */
.highlight .mh {
  color: #000000;
  background-color: transparent;
}
/* Literal Number Integer */
.highlight .mi {
  color: #0086b3;
  background-color: transparent;
}
/* Literal Number Oct */
.highlight .mo {
  color: #000000;
  background-color: transparent;
}
/* Literal Number Integer Long */
.highlight .il {
  color: #000000;
  background-color: transparent;
}
/* Literal String */
.highlight .s {
  color: #000000;
  background-color: transparent;
}
/* Literal String Backtick */
.highlight .sb {
  color: #000000;
  background-color: transparent;
}
/* Literal String Char */
.highlight .sc {
  color: #000000;
  background-color: transparent;
}
/* Literal String Doc */
.highlight .sd {
  background-color: transparent;
}
/* Literal String Double */
.highlight .s2 {
  color: #000000;
  background-color: transparent;
}
/* Literal String Escape */
.highlight .se {
  color: #000000;
  background-color: transparent;
}
/* Literal String Heredoc */
.highlight .sh {
  color: #000000;
  background-color: transparent;
}
/* Literal String Interpol */
.highlight .si {
  color: #000000;
  background-color: transparent;
}
/* Literal String Other */
.highlight .sx {
  color: #000000;
  background-color: transparent;
}
/* Literal String Regex */
.highlight .sr {
  color: #000000;
  background-color: transparent;
}
/* Literal String Single */
.highlight .s1 {
  color: #183691;
  background-color: transparent;
}
/* Literal String Symbol */
.highlight .ss {
  color: #183691;
  background-color: transparent;
}
/* Base Style */
.highlight .g {
  background-color: transparent;
}
/* Generic Deleted */
.highlight .gd {
  background-color: transparent;
}
/* Generic Emph */
.highlight .ge {
  background-color: transparent;
}
/* Generic Error */
.highlight .gr {
  background-color: transparent;
}
/* Generic Heading */
.highlight .gh {
  background-color: transparent;
}
/* Generic Inserted */
.highlight .gi {
  background-color: transparent;
}
/* Generic Output */
.highlight .go {
  background-color: transparent;
}
/* Generic Prompt */
.highlight .gp {
  background-color: transparent;
}
/* Generic Strong */
.highlight .gs {
  background-color: transparent;
}
/* Generic Subheading */
.highlight .gu {
  background-color: transparent;
}
/* Generic Traceback */
.highlight .gt {
  background-color: transparent;
}
/* Other */
.highlight .x {
  background-color: transparent;
}
/* Text Whitespace */
.highlight .w {
  background-color: transparent;
}
