body {
  background: #fff;
}

/**
 * Site header
 */
.site-header {
  min-height: 170px;
  position: relative;
  background-color: $color-brand;

  @include media-query($on-laptop) {
    min-height: initial;
    height: 90px;
  }

  .btn-submit-tip {
    width: 157px;
    height: 40px;
    border-radius: 4px;
    background-color: #f8f8f4;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 3.1;
    text-align: center;
    box-shadow: 0px 1px 3px 0px #6f6f6f;
  }

  .btn-submit-tip:hover {
    box-shadow: 0px 2px 3px 0px #6f6f6f;
  }
}

.site-title {
  float: left;
  
  img {
    height: 80px;
    margin: 15px 0 0 0;

    @include media-query($on-laptop) {
      height: 70px;
      margin: 10px 0 0 10px;
    }
  }
}

.menu-container {
  height: 110px;

  & > .site-nav {
    margin: 28px 0 0 0;
    @include media-query($on-laptop) {
      display: none;
    }    
  }
}

.categories-container {
  height: 60px;
  background: $font-color;

  @include media-query($on-laptop) {
    display: none;
  }

  .site-nav {
    margin: 0 auto;
    width: 250px;
    float: none;
    text-transform: capitalize;
    font-weight: $titles-font-weight;
    font-size: 14px;
    
    a {
      color: #fff;
    }

    a.react:hover {
      color: $react;
    }

    a.angular:hover {
      color: $angular;
    }

    a.javascript:hover {
      color: $javascript;
    }

    a.active-react {
      color: $react; 
    }

    a.active-angular {
      color: $angular; 
    }

    a.active-javascript {
      color: $javascript; 
    }
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $font-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 43px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background: #29293f;
  padding: 50px 0 80px 0;

  @include media-query($on-laptop) {
    padding: 35px;
  }

  p {
    font-size: 16px;
    line-height: 1.44;
    color: #ffffff;

    @include media-query($on-laptop) {
      text-align: center;
    }
  }

  nav {
    
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      
      li {
        float: left;
        margin: 0 10px 0 0;
        
        a {
          font-size: 14px;
          font-weight: 500;
          color: #f9d732;
        }
      }
    }
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  float: right;

  li {
    margin: 5px;
    a {
      color: #fff;
      img {
        width: 20px;
        margin: 0 10px 0 0
      }
    }
  }

  li:nth-child(2) {
    img {
      margin: 0 13px 0 0 
    }
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  background: #f3f3f3
}

.page-heading {
  font-size: 20px;
}

.page-cont {
  width: 100%;
  max-width: 732px;
  float: left;
  margin: 0 0 100px 0;
  padding: 60px 0 0;

  @include media-query($on-laptop) {
    margin: 0 0 50px 0;
  }

  h1 {
    @include media-query($on-laptop) {
      text-align: center;
    }
  }
}

.page-sidebar {
  width: 348px;
  float: left;
  margin-top: 105px;
  margin-bottom: 50px;

  @include media-query($on-laptop) {
    float: none;
    margin: 0 auto;
  }
}

.post-list {
  max-width: 900px; 
  margin-left: 0;
  list-style: none;

  > li {
    margin: 0 20px 20px 0;
    width: 345px;
    float: left;
    height: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 18px;
    box-sizing: border-box;
    border-top: 2px solid;
    box-shadow: 0px 2px 2px 1px #cecece;

    @include media-query($on-laptop) {
      margin: 20px auto;
      float: none;
    }

    div {
      width: 100%;
      height: 230px;
      float: left;
      box-shadow: 0 1px 0 0 #fbfbfb;
      box-sizing: border-box;
      
      p {
        float: left;
        width: 100%;
      }

      h2 {
        margin: 15px 0 15px 0;
      }
    }

    .read-more {
      width: 345px;
      height: 50px;
      background: #fbfbfb;
      float: left;
      border-radius: 0 0 8px 8px;
      display: block;
      padding: 14px 20px;
      box-sizing: border-box;
      font-weight: 500;
      margin: 0 0 0 -18px;
      box-shadow: 0px -2px 0px #f5f3ee;

      .shape {

      }
    }
  }
  .react-color {
    border-color: $react;
  }
  
  .angular-color {
    border-color: $angular;
  }
  
  .javascript-color {
    border-color: $javascript;
  }
}

.post-meta {
  font-size: $small-font-size;
  .category {
    font-weight: 500;
    text-transform: capitalize;
  }
}

.post-link {
  font: $titles-font-weight 20px/1.4 $default-font;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  max-width: 710px;
  margin: 75px auto 75px;

  @include media-query($on-laptop) {
    text-align: center;
  }

  .post-meta {
    font-size: 16px;
    color: #1f1e30;
    margin: 37px 0;

    a {
      font-weight: 500;
    }
  }
}

.post-title {
  letter-spacing: -1px;
  font-family: $titles-font;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  color: #29293f;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post {
  background: #fff;

  @include media-query($on-laptop) {
    padding: 10px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: 100px;

  > * {
    max-width: 710px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.62;
  }

  .language-javascript, .language-js {
    max-width: 900px;
    margin: 20px auto; 
  }

  h2, h3, h4, h5 {
    font-family: $default-font;
    font-weight: 500;
    margin: 25px auto;
  }

  h2 {
    font-size: 24px;

    @include media-query($on-laptop) {
      /*font-size: 25px;*/
    }
  }

  h3 {
    font-size: 22px;

    @include media-query($on-laptop) {
      /*font-size: 20px;*/
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      /*font-size: 18px;*/
    }
  }
}

/*
 * widget-popular-tips
 */

.widget-popular-tips {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 18px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 1px #cecece;
  float: left;

  h3 {
    font-size: 18px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    li {
      float: left;
      clear: both;
      margin: 10px 0;
      width: 100%;
      
      a {
        font-size: 16px;
      }

      div {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        background-color: #29293f;
        float: left;
        font-size: 24px;
        color: #fff;
        text-align: center;
        line-height: 2.2;
        margin: 0 20px 0 0;
      }
    }
  }
}

/*
 * email-suscribe
 */

.email-suscribe {
  padding: 100px;
  background: #f3f3f3;

  @include media-query($on-laptop) {
    padding: 20px;
    box-sizing: border-box;
  }

  label {
    font-family: $titles-font;
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    width: 100%;
    clear: both;
    display: inline-block;

    @include media-query($on-laptop) {
      font-size: 17px;
    }
  }

  .email-container {
    width: 624px;
    margin: 20px auto;

    @include media-query($on-laptop) {
      width: 100%;
    }

    .email {
      width: 500px;
      height: 60px;
      border-radius: 4px 0 0 4px;
      background-color: #ffffff;
      border: solid 1px #e1e1e1;
      float: left;
      border: 0px;
      padding: 10px;
      box-sizing: border-box;
      font-size: 15px;

      @include media-query($on-laptop) {
        width: 100%;
        border-radius: 4px 4px 0 0;
      }
    }

    .button {
      width: 110px;
      height: 60px;
      border-radius: 0px 4px 4px 0;
      background-color: #29293f;
      float: left;
      font-family: $titles-font;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      border: 0px;
      cursor: pointer;

      @include media-query($on-laptop) {
        width: 100%;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

/*
 * lang-menu
 */

.lang-menu {
  display: inline;
  position: relative;
  margin: 0 10px 0 26px;

  > span {
    cursor: pointer;
    display: inline-block;
    padding: 9px 9px 20px 9px;
    border-radius: 5px;
    font-size: 14px;
    
    &:hover {
      /*background: #e0bd16;*/
    }
  }
  
  ul {
    left: -56px;
    top: 35px;
    position: absolute;
    background: #fff;
    list-style: none;
    margin: 0px;
    border-radius: 5px;
    width: 121px;
    overflow: hidden;
    display: none;

    li {
      padding: 5px 5px 5px 15px;
      border-bottom: 1px solid #bdbdbd;

      a {
        display: inline-block;
        width: 100%;
      }
    }
  }
  &:hover {
    ul {
      display: block;
    }
  }
}

.pagination {
  text-align: center;
  margin: 0 0 0 -20px;
  
  a {
    width: 182px;
    border-radius: 4px;
    font-family: $titles-font;
    border: solid 2px #29293f;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 0;
  }
}

/*
 * Slider
 */
.swiper-container {
  width: 100%;
  height: 680px;
  margin-left: auto;
  margin-right: auto;

  @include media-query($on-laptop) {
    height: 480px;
    margin-top: 50px;
  }

  .big {
    color: #000;
    opacity: 0.1;
    position: absolute;
    font-size: 338px;
    top: -206px;
    user-select: none;
    cursor: default;

    @include media-query($on-laptop) {
      display: none;
    }
  }

  .title {
    font-family: $titles-font;
    font-size: 24px;
    display: block;
    width: 300px;
    position: absolute;
    z-index: 99;
    top: 20px;
    text-transform: capitalize;
    margin: 40px 0 0 0;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 32px;
    height: 21.3px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    background: none;

    @include media-query($on-laptop) {
      display: none;
    }

  }
  
  .swiper-button-next {
    right: 10%;
  }

  .swiper-button-prev {
    left: 10%;
    transform: rotate(180deg);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;


  &.react {
    background: $react;
  }

  &.angular {
    background: $angular;
  }

  &.javascript {
    background: $javascript;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    z-index: 9000000;

    li {
      min-width: 700px;
      text-align: right;
      display: none;

      @include media-query($on-laptop) {
        min-width: auto;
        width: 90%;
      }

      a {
        font-size: 16px;
        font-weight: 500;
        font-family: $titles-font;
        float: left;
        clear: both;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        padding: 15px;
        width: 100%;
        text-align: left;
      }
    }

    li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {
      display: block;
    }
  }
}

.category-header {
  width: 100%;
  height: 450px;
  background: $angular;
  padding: 70px 0 0 0;
  box-sizing: border-box;

  @include media-query($on-laptop) {
    height: auto;
    padding: 20px;
  }

  &.react {
    background: $react;
    color: #000;

    .read-more {
      border-color: #000;
      color: #000;
    }
  }

  &.angular {
    background: $angular;
    color: #fff;
  }

  &.javascript {
    background: $javascript;
    color: #000;

    .read-more {
      border-color: #000;
      color: #000;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.36;
    opacity: 0.9;

    @include media-query($on-laptop) {
      font-size: 30px
    }
  }

  .read-more {
    width: 110px;
    border-radius: 4px;
    font-family: "Roboto Mono", monospace;
    border: solid 2px #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 0;
    color: #fff;
  }
}

.next-infinite {
  width: 182px;
  border-radius: 4px;
  font-family: "Roboto Mono", monospace;
  border: solid 2px #29293f;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  clear: both;
  cursor: pointer;

  @include media-query($on-laptop) {
    margin: 50px auto 0;  
    display: block;
  }
}

.next-infinite:hover {
  box-shadow: 0px 2px 3px 0px #6f6f6f;
}

.related-tips {
  padding: 0 0 50px 0;

  ul {
    max-width: 100%;
    
    li {
      height: 250px;

      @include media-query($on-laptop) {
        margin: 20px auto;
      }

      .read-more {
        display: none
      }
    }

    li:last-child {
      margin: 0px;
      @include media-query($on-laptop) {
        margin: 20px auto;
      }
    }
  }
}

.related-tips .wrapper > h2 {
  text-align: center;
}