---
layout: default
type: posts
---

<div id="posts-wrapper-home">
    <div class="posts">
        <!-- {% assign posts=site.categories | where:"lang", "en" %} -->
        {% assign posts=paginator.posts | where:"lang", "es" %}
        <!-- {{site | jsonify}} -->
        {% for post in posts %}
        <article class="post">
            <h1 class="post-title">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <span class="tip-number">{{ post.tipNumber }}</span>
                    {{ post.title }}
                </a>
            </h1>
            <div class="meta-info">
                <time class="date meta-item" datetime="{{ post.date }}"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</time>
                <div class="contributor meta-item"><i class="fa fa-user"></i><a href="{{ post.tipContributorUrl }}" target="_blank"> @{{ post.tipContributorUser }}</a></div>
            </div>
            <div class="entry">
                {{ post.tipTlDt }}
            </div>
        </article>
        {% endfor %}
    </div>
</div>
