body {
  background: #fdfcfa;
  font-size: 17px;
}

.logo {
  width: 49px;
  height: 70px;
  background: url(./assets/logo.png);
  background-size: contain;
  margin: 20px 0 20px 0;
}

.hero-text {
  margin-top: 44px;
}

.hero-img {
  height: 300px;
  background: url(./assets/cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 50px;
  margin-left: -20px;
}

.info {
  background: #fce985;
  padding: 50px;
}

.info p {
  font-size: 18px;
}

.half-center {
  margin: 0 auto;
  width: 100%;
}

.hero-heading {
  font-size: 3.5rem;
  margin-top: 5px;
}

.hero-description {
  font-size: 1.1em;
  line-height: 1.4;
  margin-bottom: 50px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .half-center {
    margin: 0 auto;
    width: 50%;
  }
}

.text-center {
  text-align: center;
}

.half-center h4 {
  text-align: center;
}

.margin-100 {
  margin: 100px 0 100px 0;
}

.align-center {
  margin: 0 auto;
}

.button-primary {
  background-color: #fadd51 !important;
  border-color: #fadd51 !important;
  color: #000 !important;
  font-size: 13px;
  line-height: 2.8;
  width: 100%;
}

.button-primary:hover {
  background-color: #fde781 !important;
  border-color: #fadd51 !important;
  color: #000 !important;
}

.features {
  list-style: none;
}

.features li {
  display: flex;
  margin: 20px 0;
}

.features img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}

.offer {
  font-size: 12px;
  margin: 0 auto;
  background: #f7c281;
  padding: 3px 20px;
  display: block;
  text-align: center;
}

.button2 {
  text-align: center;
  display: block;
}

.cards {
  margin-top: 40px;
}

.hide {
  display: none;
}

@media (min-width: 400px) {
  .half-center {
    margin: 0 auto;
    width: 50%;
  }

  .logo {
    width: 49px;
    height: 70px;
    background: url(./assets/logo.png);
    background-size: contain;
    margin: 50px 0 50px 0;
  }

  .button-primary {
    width: auto;
  }

  .offer {
    display: inline;
    margin-left: 20px;
  }

  .hero-description {
    margin-bottom: 20px;
  }

  .hero-img {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 0px;
    margin-left: auto;
  }

  .hide {
    display: block;
  }
}