body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif !important;
  /* background: #fff; */
  background: linear-gradient(
    to bottom, 
    #FEF7D6 0%, 
    #FEF7D6 610px, 
    #fff 610px, 
    #fff 100%
  );
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo {
  width: 49px;
  height: 70px;
  background: url(./assets/logo.png);
  background-size: contain;
  margin: 20px 0 20px 0;
}

.hero-text {
  margin-top: 44px;
}

.hero-img {
  height: 300px;
  background: url(./assets/cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 50px;
  margin-left: -20px;
}

.info {
  background: #FEF7D6;
  padding: 50px;
}

.info p {
  font-size: 18px;
}

.half-center {
  margin: 0 auto;
  width: 100%;
}

.hero-heading {
  font-size: 3.5rem;
  margin-top: 5px;
}

.hero-description {
  font-size: 1.1em;
  line-height: 1.4;
  margin-bottom: 50px;
}

.hello-there {
  font-weight: 600;
  font-size: 24px !important;
  line-height: 33px;
  /* font-style: italic; */
}

/* Larger than mobile */
@media (min-width: 400px) {
  .half-center {
    margin: 0 auto;
    width: 50%;
  }
}

.text-center {
  text-align: center;
}

.half-center h4 {
  text-align: center;
}

.margin-100 {
  margin: 100px 0 100px 0;
}

.align-center {
  margin: 0 auto;
}

.button-primary {
  background-color: #fadd51 !important;
  border-color: #fadd51 !important;
  color: #000 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  height: auto;
  padding: 14px 25px;
  min-width: 220px;
}

.button-primary:hover {
  background-color: #fde781 !important;
  border-color: #fadd51 !important;
  color: #000 !important;
}

.button-primary .paypal {
  height: 32px;
  margin: -8px 10px -10px -4px;
  display: inline-block;
}

.button-primary .amazon {
  height: 20px;
  margin: -8px auto -10px auto;
  display: inline-block;
}

.buttons {
  display: flex;
  max-width: 499px;
  margin: 42px auto 0;
  flex-wrap: wrap;
}

.buttons a {
  justify-content: center;
}

.buttons span {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  flex-basis: 100%;
  margin: 20px 0 0 0;
}
}

.features {
  list-style: none;
}

.features li {
  display: flex;
  margin: 20px 0;
}

.features img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}

.offer {
  font-size: 12px;
  margin: 0 auto;
  background: #f7c281;
  padding: 3px 20px;
  display: block;
  text-align: center;
}

.button {
  text-transform: none !important;
}

.cards {
  margin-top: 40px;
}

.hide {
  display: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #221A5A;
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #221A5A;
  text-align: center;
}

.section-heading {
  text-align: left !important;
}

.book-cover {
  width: 264px;
  margin: 50px auto 0;
  display: block;
}

.middle-header {
  max-width: 600px;
  margin: 0 auto !important;
  float: none !important;
}

.hero-mini {
  font-size: 12px;
  color: #919191;
  display: block;
  margin: 80px auto 15px;
  text-align: center;
}

.hero-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #2B2B2B;
}

.info {
  max-width: 700px;
}

@media (min-width: 400px) {

  .book-cover {
    width: 264px;
    margin: 50px auto 0;
    display: block;
  }

  .middle-header {
    /* width: 600px; */
    margin: 0 auto !important;
    float: none !important;
  }

  .hero-mini {
    font-size: 12px;
    color: #919191;
    display: block;
    margin: 80px auto 15px;
    text-align: center;
  }

  .hero-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #2B2B2B;
  }

  .info {
    max-width: 700px;
  }
  .half-center {
    margin: 0 auto;
    width: 50%;
  }

  .logo {
    width: 49px;
    height: 70px;
    background: url(./assets/logo.png);
    background-size: contain;
    margin: 50px 0 50px 0;
  }

  .button-primary {
    width: auto;
  }

  .offer {
    display: inline;
    margin-left: 20px;
  }

  .hero-description {
    margin-bottom: 28px;
  }

  .hero-img {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 0px;
    margin-left: auto;
  }

  .hide {
    display: block;
  }
}

.purple {
  background-color: #00C2FF !important;
  border-color: #00C2FF !important;
}

.gray {
  background-color: #e2cece !important;
  border-color: #e2cece !important;
  color: #383636;
}

/* Book */
.book-container {
  z-index: 1;
  perspective:3000px;
}

.book-container .book {
  position: relative;
  display: block;
  width: 264px;
  height: 405px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: #F9D732;
  -webkit-box-shadow: 7px 9px 11px 0px rgb(113 112 113 / 60%);
-moz-box-shadow: 7px 9px 11px 0px rgb(113 112 113 / 60%);
box-shadow: 7px 9px 11px 0px rgb(113 112 113 / 60%);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.book-container .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.book-container .book > div,
.book-container .front > div {
  display: block;
  position: absolute;
}


.book-container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.book-container .front > div {
  width: 264px;
  height: 405px;
}

.book-container .left-side{
  width: 40px;
  left: -20px;
  height: 405px;
  background: #F9D732;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.book-container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book-container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book-container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.book-container h2 {
  width: 264px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
  background-image: url('assets/cover.png');
  background-size: cover;
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child{
  /* font-family: acumin-pro, sans-serif; */
} 

.pic {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 10px auto;
  overflow: hidden;
}

.pic img {
  width: 100%;
}

.rights {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.rights a {
  font-size: 10px;
  color: #2B2B2B;
  text-align: center;
  text-decoration: none;
}

a {
  color: #2B2B2B;
}

a:hover {
  color: #2B2B2B;
}

/* countdown */
.container-countdown {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}


.container-countdown h1 {
  font-weight: normal;
}

.container-countdown li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #BFBFBD;
}

.container-countdown li span {
  display: block;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FC9791;
}

.container-countdown .message {
  font-size: 4rem;
}

.container-countdown #content {
  display: none;
  padding: 1rem;
}

.endsin {
  font-size: 12px;
  color: #919191;
  display: block;
  /* margin: 10px auto 10px; */
  text-align: center; 
}

.community li {
  text-transform: none !important;
}